{% extends 'base.html.twig' %}

{% block title %}Cégstatisztikák{% endblock %}

{% block body %}
<table class="table table-striped table-hover align-middle">
    <thead>
        <tr>
            <th>Cégnév</th>
            <th>Értékelések</th>
            <th>Átlag</th>
            <th class="text-end">
                <a href="{{ path('company_stats.export') }}"
                class="btn btn-sm btn-success"
                title="Exportálás .csv-fájlként">

                    Export
                    <i class="bi bi-download"></i>
                </a>
            </th>
        </tr>
    </thead>

    <tbody>
        {% for rating in stats %}
            <tr>
                <td>{{ rating.companyName }}</td>

                <td>
                    <span class="badge bg-primary">
                        {{ rating.reviewNum }}
                    </span>
                </td>

                <td colspan="2">
                    <span class="badge bg-secondary">
                        {{ rating.averageRating|number_format(2) }}
                    </span>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div>
    {{ render_pagination(pagination, 'company_stats.index') }}
</div>
{% endblock %}
