{% extends 'base.html.twig' %}

{% block title %}Reviews{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}

        {{ message }}

    {% endfor %}
    <div>
    {% for review in reviews %}
        <div>
        {{ review.companyName }}
        {{ review.rating }}
        {{ review.reviewText|u.truncate(20, "...") }}
        {{ review.createdAt|date('Y.m.d. H:i') }}
        <a href="{{ url('review.show', { id: review.id }) }}">Megtekintés</a>
        </div>
    {% endfor %}
    </div>

    <div>
        {{ render_pagination(pagination, 'review.index', { companyName: companyName }) }}
    </div>
{% endblock %}
